@import "../../styles/bootstrap/shared";
@import "../../styles/hero-background";

.hero {
  @include hero-background;

  height: 100vh;
  height: calc(var(--vh, 1vh) * 100); // Mobile viewport height fix
  position: relative;

  .heading {
    font-size: 1rem;
    left: 50%;
    margin: 0;
    max-width: 24em;
    padding: 1em 4em;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);

    @include media-breakpoint-up("md") {
      font-size: 1.5rem;
    }

    h1 {
      font-size: 4em;
      font-weight: 900;
      line-height: 0.85;
      margin-bottom: 0;

      // Correctly center overflowing text
      display: flex;
      justify-content: center;
    }

    .sub {
      line-height: 1.25em;
      opacity: 0.85;
    }
  }
}
