@import "./bootstrap/main";

* {
  font-family: "Titillium Web";
}

html {
  font-size: 20px;
  overflow-x: hidden;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow";
  letter-spacing: -0.04em;
}
