@import "./bootstrap/main";

* {
  font-family: "Titillium Web", "Arial", "Helvetica", "sans-serif";

  :focus {
    outline: 2px dashed $input-focus-border-color;
  }
}

html {
  font-size: 20px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Barlow", "Roboto", "Arial", "Helvetica", "sans-serif";
  letter-spacing: -0.04em;
}
