@import "../../styles/bootstrap/shared";

.lets-talk {
  p {
    max-width: 30em;
  }

  textarea {
    height: 12em;
  }

  button[type="submit"] {
    margin: 0 auto;
    min-width: 50%;

    @include media-breakpoint-up("md") {
      min-width: 33%;
    }
  }

  [class*="row"]:last-child {
    padding-bottom: 8.5vh;

    @include media-breakpoint-up("lg") {
      padding-bottom: 12.5vh;
    }
  }
}
