@import "../../styles/bootstrap/shared";

.divider {
  margin: 1em 0;
  position: relative;

  &::before,
  &::after {
    border-top: 2px solid transparentize($color: $secondary, $amount: 0.66);
    content: "";
    display: inline-block;
    height: 0px;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 3.33rem;
  }

  &::before {
    left: calc(50% - 3em);
  }

  &::after {
    left: calc(50% + 3em);
  }

  .icon {
    margin: 0;
    overflow: visible;
    padding: 0.33rem;
  }
}
