@import "../../styles/bootstrap";

.footer {
  height: 100vh;
  margin-top: 15vh;
  position: relative;

  @include media-breakpoint-up("lg") {
    margin-top: 25vh;
  }

  .divider {
    position: absolute;
    bottom: top;
    transform: translateY(-50%);
    width: 100%;

    svg {
      [class="top"] {
        fill: white;
      }

      [class="bottom"] {
        fill: $primary;
      }
    }
  }

  .content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;
  }

  .bottom {
    bottom: 0;
    font-size: 0.8em;
    position: absolute;
  }
}
