@import "../../styles/bootstrap/shared";
@import "../../styles/hero-background";

.footer {
  @include hero-background;

  height: 100vh;
  margin-top: 15vh;
  position: relative;

  @include media-breakpoint-up("lg") {
    margin-top: 25vh;
  }

  .content {
    left: 50%;
    position: absolute;
    text-align: center;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    width: 100%;

    .link-icon {
      overflow: visible;
    }
  }

  .bottom {
    bottom: 0;
    font-size: 0.8em;
    position: absolute;
  }
}
