@import "../../styles/bootstrap";

.about-me {
  ul {
    column-count: 2;
    list-style: url("/svg/code-square.svg");
  }

  svg {
    height: 17em;

    @include media-breakpoint-up("lg") {
      height: 20em;
    }
  }

  [class*="row"]:first-child {
    margin-top: 0;
  }
}
